

{% block content %} 

    <style>
        {% include './components/users-list/users-list.css' %}
    </style> 

    <script>
        console.log("in users list!")

        function clear_users_list() {
            //document.getElementsByClassName
            //class returns a list of elements

            user_entries = document.getElementsByClassName("user_entries");

            while(user_entries.length != 0) {
                var element = user_entries[0];
                element.remove();

                user_entries = document.getElementsByClassName("user_entries");
            }

            //have a while loop, check how many elements in the getElementsbyClassname, and remove until it hits zero

        }

        function update_users_list(user_request_data) {
            var length = user_request_data.length;

            console.log("in update");

            for(var i = 0; i < length; i++) {
                console.log("in for");
                console.log(user_request_data[i]);
                var new_element = document.createElement('div');
                //new_element.innerText = "hello";
                new_element.innerHTML = "<h1 class='user_entries' style='background-color:black;'>" + user_request_data[i][0] + "</h1>";
                var parent_element = document.getElementById("friend-rq-title");
                parent_element.appendChild(new_element);
            }

        }

        socket.on("update_users_list", (msg, color="black") => {
            console.log("hereeee");
            user_request_data = JSON.parse(msg)['users_list']; // Parse and assign before calling the function
            console.log(user_request_data);
            console.log(user_request_data[0][0]);
            clear_users_list();
            update_users_list(user_request_data);
        });

        //try to emit 
        socket.emit('relay_all_users', JSON.stringify({sender: user_name}));  

    </script>

        <div class="friends_list_content_container">
            
            <div class="side_bar_vertical_container">

                <div class="friend-requests">

                    <div class="friend-requests-title" id="friend-rq-title">
                        <p class="bold_side_p_text">Users</p>
                        
                    </div>
                    
                </div>


            </div>
        </div>



{% endblock %}