

{% block content %} 

    <style>
        {% include './components/articles_main/comment_section/comment_section_tile/comment_section_tile.css' %}
    </style> 

    <div class="comment_message">
        <div class="comment_sender blow-out">
            <div style="width: fit-content;" id="comment_sender_name">
            
            </div>
        </div>
        <div class="comment_content blow-out">
            <p id="comment_message_content">This is a message that I have sent over to you. And I hope you will enjoy seeing this message.</p>
        </div>
    </div>

{% endblock %}